<nav class="flex pt3">

  <div class="flex-auto h3 pl3"><a href="#" class="btn red"><i class="fa fa-headphones" aria-hidden="true"></i> cloudfm</a></div>
  <div class="pr3">
      <ul class="list-reset">
          <li class="inline-block mr1"><a href="#" class="btn">Home</a></li>
          <li class="inline-block mr1"><a href="#" class="btn">Blog</a></li>
          <li class="inline-block mr1"><a href="#" class="btn">Help</a></li>
          <li class="inline-block mr1"><a href="#" class="btn">Login</a></li>
      </ul>
  </div>
</nav>